/*div {
	border: 2px solid blue;
}
*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', sans-serif;
}

p,
a,
span,
footer {
	font-family: 'Lato', sans-serif;
}

h3 {
	margin: 0px;
}

h1 {
	padding-top: 32px;
	margin: 0px;
}

.main {
	margin: 0px auto;
	width: 90%;
}

.main-container {
	padding: 32px 24px;
}

.right {
	width: 40%;
}

header,
nav,
.main-container,
.logo,
.banner-info,
footer {
	display: flex;
}

.logo,
nav {
	align-items: center;
}

.banner-info {
	flex-direction: column;
	justify-content: center;
}

.banner-pic,
.campus,
.thesis {
	width: 60%;
	padding-right: 24px;
}

h1.title {
	text-align: center;
}

.banner,
.courses {
	background-color: lightgrey;
}

h4 {
	margin: 16px 0px;
}


/*Header*/
header {
	padding: 16px 24px;
}

.logo {
	height: 32px;
	flex: 1;
}

nav {
	justify-content: flex-end;
}

nav a {
	padding-left: 16px;
	text-decoration: none;
}

.light{
	color: grey;
}

/*Banner*/


.banner-pic img {
	width: 100%;
	height: auto;
}

a.button {
	background-color: blue;
	text-decoration: none;
	color: white;
	text-align: center;
	width: 60%;
	transition: 1s all;
	padding: 8px 0px;
}

a.button:hover {
	background-color: lightblue;
}

.banner-info h1 {
	font-size: 2.5rem;
}

.banner-info h1,
.banner-info h3 {
	margin: 16px 0px;
	padding-right: 64px;
}


/*Campus*/


.campus img {
	width: 100%;
	padding-bottom: 8px;
}

.campus h1 {
	padding: 24px 0px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


.column-info img { 
	padding: 16px 16px;
	height: auto;
	width: 35%;
}

.column-info {
	display: flex;
	align-items: center;
}

.color { 
	background-color: lightgrey;
}


.details {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.details a {
	text-decoration: none;
}

.details a:hover {
	color: lightblue;
}

.thesis video {
	width: 100%;
}

/*Courses*/

.course {
	display: block;
}

.top,
.bottom {
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
	padding-left: 48px;
	padding-right: 48px;
}

.bottom {
	padding-top: 15px;
}

.course-info {
	width: 30%;
	background-color: white;
}

.course-info img {
	height: auto;
	width: 100%;
}

.course-text {
	padding: 0px 16px;
}

.course-text p {
	padding: 8px 0px;
	margin: 0px 0px;
}

 

/*Thesis*/


/*Footer*/

.copy {
	padding-left: 24px;
	display: inline-flex;
	flex: 1;
}

.policy a {
	text-decoration: none;
	padding-left: 5px;
}